<nav class="navbar navbar-expand-lg " style="background-color: #DFD4A6; height: 40px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestionar-estudiantes">Gestionar Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gestionar-enfermedades">Gestionar Enfermedades</a>
        </li>
      </ul> 
    </div>
  </div>
</nav>


<div class="container mt-4">
<button class="btn btn-success" (click)="modalNuevoEstudiante(0)"> Nuevo Estudiante  </button>  <!--El parametro en 0 nos sirve para posteriormente actualizar-->

<button class="btn btn-light" (click)="logout()" style="float: right;">Cerrar sesión <i class="bi bi-box-arrow-right"></i></button>



<table class="table table-hover mt-5">
    <thead>
      <tr>

        <th>Tipo Identificacion</th>
        <th>Numero Identificacion</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Fecha Nacimiento</th>
        <th>Tipo Sangre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>



        <!--Recordemos que es un ngFor para cada estudiante-->
      <tr *ngFor="let item of estudiantes">

        <td>{{item.tipoIdentificacion.nombre}}</td>
        <td>{{item.numeroIdentificacion}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.fechaNacimiento}}</td>
        <td>{{item.tipoSangre.nombre}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning" (click)="modalNuevoEstudiante(item.id)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminar(item.id)">Eliminar</button>
            
          </div>
        </td>
      </tr>




    </tbody>
  </table>


</div>