/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-form-field{
    width: 100%;
}

nav{
    background-color: #8F141B;
}

.img-usco{
    background-image: url("/src/assets/img/universidad-surcolombiana.png");
}

